---
import { Redirect } from 'astro';

export function get() {
  return Redirect('https://drive.google.com/file/d/1JnvgB-z96cR1HoQWFGQoL5k1Mq0eV7Wh/view', 302);
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content="Astro" />
    <title>Resume Redirect</title>
    <meta name="robots" content="noindex" />
    <meta http-equiv="refresh" content="0;url=https://drive.google.com/file/d/1JnvgB-z96cR1HoQWFGQoL5k1Mq0eV7Wh/view" />
    <style is:global>
      @font-face {
        font-family: "CabinetGrotesk";
        src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        font-weight: 100 1000;
      }
      @font-face {
        font-family: "Satoshi";
        src: url("/fonts/Satoshi-Variable.ttf") format("truetype-variations");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        font-weight: 100 1000;
      }

      body {
        margin: 0;
        font-family: "Satoshi", sans-serif;
        -webkit-font-smoothing: antialiased;
        background-color: #171717; /* Dark background color */
        color: #ffffff; /* White text color */
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      .container {
        width: 80%;
        max-width: 600px;
        background-color: #171717; /* Updated background color */
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        border: 2px solid #404040; /* Outline color */
      }

      .container:hover {
        border-color: #baf144; /* Hover outline color */
      }

      p {
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: center; /* Ensure text is centered */
        margin-bottom: 1rem;
      }

      .link {
        color: #baf144; /* Primary color for links */
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>If you are not redirected, <a class="link" href="https://drive.google.com/file/d/1JnvgB-z96cR1HoQWFGQoL5k1Mq0eV7Wh/view">click here</a>.</p>
    </div>
  </body>
</html>