---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me" >
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Vaibhav, a product designer and skilled developer from India.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Figma</li>
        <li>Adobe Illustrator</li>
        <li>Adobe XD</li>
        <li>Nodejs</li>
        <li>NextJs</li>
        <li>SQL</li>
        <li>Go</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      When I'm not coding or designing, I find immense delight in strumming my guitar, exploring new destinations, and shooting hoops on the basketball court.    </p>
  </div>
</Card>
